* OSP finish SUCKS.
* flash power disconnected, missed during drc stage

